In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("recom.csv", encoding="utf-8")
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating
0,1,"London, UK",05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2
2,3,"Bali, Indonesia",07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5
4,5,"Tokyo, Japan",09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5

In [3]:
df.shape

(139, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Trip ID               139 non-null    int64
 1   Destination           137 non-null    object
 2   Start date            137 non-null    object
 3   End date              137 non-null    object
 4   Duration (days)       137 non-null    float64
 5   Traveler name         137 non-null    object
 6   Traveler age          137 non-null    float64
 7   Traveler gender       137 non-null    object
 8   Traveler nationality  137 non-null    object
 9   Accommodation type    137 non-null    object
 10  Accommodation cost    137 non-null    object
 11  Transportation type   136 non-null    object
 12  Transportation cost   136 non-null    object
 13  review                139 non-null    object
 14  Rating                139 non-null    int64
dtypes: float64(2), int64(2), object(11)
memory usage: 16.4+ KB

In [5]:
df.tail()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating
134,135,"Rio de Janeiro, Brazil",08-01-2023,08-10-2023,9.0,Jose Perez,37.0,Male,Brazilian,Hostel,2500,Car,2000,An interesting place mostly because we meet th...,1
135,136,"Vancouver, Canada",8/15/2023,8/21/2023,6.0,Emma Wilson,29.0,Female,Canadian,Hotel,5000,Airplane,3000,Good place to visit. Nice view of ktm from top...,3
136,137,"Bangkok, Thailand",09-01-2023,09-08-2023,7.0,Ryan Chen,34.0,Male,Chinese,Hostel,2000,Train,1000,Must visit place in Kathmandu. You get a beaut...,3
137,138,"Barcelona, Spain",9/15/2023,9/22/2023,7.0,Sofia Rodriguez,25.0,Female,Spanish,Airbnb,6000,Airplane,2500,Swayambhunath is among the oldest religious si...,4
138,139,"Auckland, New Zealand",10-01-2023,10-08-2023,7.0,William Brown,39.0,Male,New Zealander,Hotel,7000,Train,2500,Swayambhunath the oldest religious sites in Ne...,3

In [6]:
df.isnull().sum()

Trip ID                 0
Destination             2
Start date              2
End date                2
Duration (days)         2
Traveler name           2
Traveler age            2
Traveler gender         2
Traveler nationality    2
Accommodation type      2
Accommodation cost      2
Transportation type     3
Transportation cost     3
review                  0
Rating                  0
dtype: int64

In [7]:
df.shape

(139, 15)

In [8]:
df= df.dropna()

# Reset index after dropping rows
df.reset_index(drop=True, inplace=True)

In [9]:
df.shape

(136, 15)

In [10]:
df.isnull().sum()

Trip ID                 0
Destination             0
Start date              0
End date                0
Duration (days)         0
Traveler name           0
Traveler age            0
Traveler gender         0
Traveler nationality    0
Accommodation type      0
Accommodation cost      0
Transportation type     0
Transportation cost     0
review                  0
Rating                  0
dtype: int64

In [11]:
print("Summary statistics:")
print(df.describe())

Summary statistics:
          Trip ID  Duration (days)  Traveler age      Rating
count  136.000000       136.000000    136.000000  136.000000
mean    69.463235         7.610294     33.117647    3.691176
std     40.388284         1.606343      7.139933    1.250272
min      1.000000         5.000000     20.000000    1.000000
25%     34.750000         7.000000     28.000000    3.000000
50%     68.500000         7.000000     31.000000    4.000000
75%    104.250000         8.000000     37.250000    5.000000
max    139.000000        14.000000     60.000000    5.000000

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
 #Convert 'Accommodation cost' and 'Transportation cost' columns to numeric
df['Accommodation cost'] = pd.to_numeric(df['Accommodation cost'].str.replace('[^\d.]', ''), errors='coerce')
df['Transportation cost'] = pd.to_numeric(df['Transportation cost'].str.replace('[^\d.]', ''), errors='coerce')

# Calculate the total cost
df['Total cost'] = df['Accommodation cost'] + df['Transportation cost']

<ipython-input-13-660b8eea8cc3>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Accommodation cost'] = pd.to_numeric(df['Accommodation cost'].str.replace('[^\d.]', ''), errors='coerce')
<ipython-input-13-660b8eea8cc3>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Transportation cost'] = pd.to_numeric(df['Transportation cost'].str.replace('[^\d.]', ''), errors='coerce')

In [14]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost
0,1,"London, UK",05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300
2,3,"Bali, Indonesia",07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000
4,5,"Tokyo, Japan",09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Trip ID               136 non-null    int64
 1   Destination           136 non-null    object
 2   Start date            136 non-null    object
 3   End date              136 non-null    object
 4   Duration (days)       136 non-null    float64
 5   Traveler name         136 non-null    object
 6   Traveler age          136 non-null    float64
 7   Traveler gender       136 non-null    object
 8   Traveler nationality  136 non-null    object
 9   Accommodation type    136 non-null    object
 10  Accommodation cost    136 non-null    int64
 11  Transportation type   136 non-null    object
 12  Transportation cost   136 non-null    int64
 13  review                136 non-null    object
 14  Rating                136 non-null    int64
 15  Total cost            136 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 17.1+ KB

In [16]:
df.isnull().sum()

Trip ID                 0
Destination             0
Start date              0
End date                0
Duration (days)         0
Traveler name           0
Traveler age            0
Traveler gender         0
Traveler nationality    0
Accommodation type      0
Accommodation cost      0
Transportation type     0
Transportation cost     0
review                  0
Rating                  0
Total cost              0
dtype: int64

In [17]:
# Calculate the mean of 'Accommodation cost', 'Transportation cost', and 'Total cost'
mean_accommodation_cost = df['Accommodation cost'].mean()
mean_transportation_cost = df['Transportation cost'].mean()
mean_total_cost = df['Total cost'].mean()

# Replace missing values with the mean
df['Accommodation cost'].fillna(mean_accommodation_cost, inplace=True)
df['Transportation cost'].fillna(mean_transportation_cost, inplace=True)
df['Total cost'].fillna(mean_total_cost, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Trip ID               136 non-null    int64
 1   Destination           136 non-null    object
 2   Start date            136 non-null    object
 3   End date              136 non-null    object
 4   Duration (days)       136 non-null    float64
 5   Traveler name         136 non-null    object
 6   Traveler age          136 non-null    float64
 7   Traveler gender       136 non-null    object
 8   Traveler nationality  136 non-null    object
 9   Accommodation type    136 non-null    object
 10  Accommodation cost    136 non-null    int64
 11  Transportation type   136 non-null    object
 12  Transportation cost   136 non-null    int64
 13  review                136 non-null    object
 14  Rating                136 non-null    int64
 15  Total cost            136 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 17.1+ KB

In [19]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost
0,1,"London, UK",05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300
2,3,"Bali, Indonesia",07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000
4,5,"Tokyo, Japan",09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Trip ID               136 non-null    int64
 1   Destination           136 non-null    object
 2   Start date            136 non-null    object
 3   End date              136 non-null    object
 4   Duration (days)       136 non-null    float64
 5   Traveler name         136 non-null    object
 6   Traveler age          136 non-null    float64
 7   Traveler gender       136 non-null    object
 8   Traveler nationality  136 non-null    object
 9   Accommodation type    136 non-null    object
 10  Accommodation cost    136 non-null    int64
 11  Transportation type   136 non-null    object
 12  Transportation cost   136 non-null    int64
 13  review                136 non-null    object
 14  Rating                136 non-null    int64
 15  Total cost            136 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 17.1+ KB

In [21]:
df.describe()

,Trip ID,Duration (days),Traveler age,Accommodation cost,Transportation cost,Rating,Total cost
count,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000
mean,69.463235,7.610294,33.117647,1253.529412,645.183824,3.691176,1898.713235
std,40.388284,1.606343,7.139933,1338.644162,584.476153,1.250272,1834.553533
min,1.000000,5.000000,20.000000,150.000000,20.000000,1.000000,200.000000
25%,34.750000,7.000000,28.000000,600.000000,200.000000,3.000000,1000.000000
50%,68.500000,7.000000,31.000000,900.000000,550.000000,4.000000,1400.000000
75%,104.250000,8.000000,37.250000,1200.000000,800.000000,5.000000,1900.000000
max,139.000000,14.000000,60.000000,8000.000000,3000.000000,5.000000,10500.000000

In [22]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.tokenize import RegexpTokenizer

# Download NLTK resources
nltk.download('punkt')
nltk.download('stopwords')

# Define a function for preprocessing
def preprocess_text(text):
    # Lowercasing
    text = text.lower()

    # Tokenization
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(text)

    # Removing stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]

    # Stemming
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in filtered_tokens]

    # Join the tokens back into a single string
    preprocessed_text = ' '.join(stemmed_tokens)

    return preprocessed_text

# Apply preprocessing to the 'review' column
df['preprocessed_review'] = df['review'].apply(preprocess_text)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [23]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost,preprocessed_review
0,1,"London, UK",05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800,top valley mountain best place get pleasur rea...
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300,place signific import buddhism visit place sun...
2,3,"Bali, Indonesia",07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700,visit side raini even actual visit templ end v...
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000,beauti templ situat capit stun vie citi insigh...
4,5,"Tokyo, Japan",09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900,great beauti histor religi place crowd visitor...

In [24]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Download NLTK resources (only required once)
nltk.download('vader_lexicon')

# Initialize SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

# Function to get sentiment scores
def get_sentiment(text):
    # Get polarity scores
    scores = sid.polarity_scores(text)
    # Classify sentiment based on compound score
    if scores['compound'] >= 0.05:
        return 'Positive'
    elif scores['compound'] <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'

# Apply sentiment analysis to the reviews
df['Sentiment'] = df['review'].apply(get_sentiment)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [25]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost,preprocessed_review,Sentiment
0,1,"London, UK",05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800,top valley mountain best place get pleasur rea...,Positive
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300,place signific import buddhism visit place sun...,Positive
2,3,"Bali, Indonesia",07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700,visit side raini even actual visit templ end v...,Positive
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000,beauti templ situat capit stun vie citi insigh...,Positive
4,5,"Tokyo, Japan",09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900,great beauti histor religi place crowd visitor...,Positive

In [26]:
sentiment_counts = df['Sentiment'].value_counts()
print(sentiment_counts)

Positive    111
Neutral      21
Negative      4
Name: Sentiment, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Trip ID               136 non-null    int64
 1   Destination           136 non-null    object
 2   Start date            136 non-null    object
 3   End date              136 non-null    object
 4   Duration (days)       136 non-null    float64
 5   Traveler name         136 non-null    object
 6   Traveler age          136 non-null    float64
 7   Traveler gender       136 non-null    object
 8   Traveler nationality  136 non-null    object
 9   Accommodation type    136 non-null    object
 10  Accommodation cost    136 non-null    int64
 11  Transportation type   136 non-null    object
 12  Transportation cost   136 non-null    int64
 13  review                136 non-null    object
 14  Rating                136 non-null    int64
 15  Total cost            136 non-null    int64
 16  preprocessed_review   136 non-null    object
 17  Sentiment             136 non-null    object
dtypes: float64(2), int64(5), object(11)
memory usage: 19.2+ KB

In [28]:
df.columns

Index(['Trip ID', 'Destination', 'Start date', 'End date', 'Duration (days)',
       'Traveler name', 'Traveler age', 'Traveler gender',
       'Traveler nationality', 'Accommodation type', 'Accommodation cost',
       'Transportation type', 'Transportation cost', 'review', 'Rating',
       'Total cost', 'preprocessed_review', 'Sentiment'],
      dtype='object')

In [29]:
######################

In [30]:
destination_frequency = df['Destination'].value_counts()
print("Destination Frequencies:")
print(destination_frequency)

Destination Frequencies:
Paris                          7
Bali                           7
Tokyo, Japan                   7
Paris, France                  7
Tokyo                          5
Sydney                         5
Rome                           5
New York                       5
Bali, Indonesia                5
Rio de Janeiro, Brazil         4
Bangkok                        4
Cancun, Mexico                 4
Barcelona, Spain               4
London                         4
Rome, Italy                    3
Bangkok, Thailand              3
Sydney, Aus                    3
London, UK                     3
New York, USA                  3
Sydney, Australia              3
Vancouver, Canada              2
New York City, USA             2
Barcelona                      2
Cape Town                      2
Dubai                          2
Amsterdam, Netherlands         2
Bangkok, Thai                  1
Seoul, South Korea             1
Los Angeles, USA               1
Cape Town, SA                  1
Phuket                         1
Santorini                      1
Seoul                          1
Rio de Janeiro                 1
Amsterdam                      1
Cape Town, South Africa        1
Athens, Greece                 1
Phnom Penh                     1
Sydney, AUS                    1
Phuket, Thai                   1
Australia                      1
Canada                         1
Spain                          1
Dubai, United Arab Emirates    1
Honolulu, Hawaii               1
Berlin, Germany                1
Marrakech, Morocco             1
Edinburgh, Scotland            1
Hawaii                         1
Japan                          1
Thailand                       1
France                         1
Phuket, Thailand               1
Brazil                         1
Greece                         1
Egypt                          1
Mexico                         1
Italy                          1
Auckland, New Zealand          1
Name: Destination, dtype: int64

In [31]:
# Destination mapping based on frequencies
destination_mapping = {
    'Paris, France': 'Paris',
    'Bali, Indonesia': 'Bali',
    'Tokyo, Japan': 'Tokyo',
    'Rome, Italy': 'Rome',
    'New York, USA': 'New York',
    'Sydney, Aus': 'Sydney',
    'Bangkok, Thailand': 'Bangkok',
    'London, UK': 'London',
    'Barcelona, Spain': 'Barcelona',
    'Cancun, Mexico': 'Cancun',
    'Rio de Janeiro, Brazil': 'Rio de Janeiro',
    'Sydney, Australia': 'Sydney',
     'Berlin, Germany' : 'Germany',
    # Add more mappings based on your destination frequencies
    'Cape Town, SA' : 'Cape Town',
    'Los Angeles, USA': 'Los Angeles',
    'Amsterdam, Netherlands': 'Amsterdam',
    'Phuket, Thailand': 'Phuket',
    'Seoul, South Korea': 'Seoul',
    'New York City, USA': 'New York',
    'Athens, Greece': 'Athens',
    'Auckland, New Zealand': 'Auckland',
    'Sydney, AUS': 'Sydney',
    'Bangkok, Thai': 'Bangkok',
    'Cape Town, SA': 'Cape Town',
    'Dubai, United Arab Emirates': 'Dubai',
    'Honolulu, Hawaii': 'Honolulu',
    'Los Angeles, USA': 'Los Angeles',
    'Marrakech, Morocco': 'Marrakech',
    'New York City, USA': 'New York',
    'Paris, France': 'Paris',
    'Phuket, Thailand': 'Phuket',
    'Rio de Janeiro, Brazil': 'Rio de Janeiro',
    'Rome, Italy': 'Rome',
    'Vancouver, Canada': 'Vancouver',
    'Barcelona, Spain': 'Barcelona',
    'Cancun, Mexico': 'Cancun',
    'Cape Town, South Africa': 'Cape Town',
    'London, UK': 'London',
    'Phuket, Thai': 'Phuket',
    'Bangkok, Thailand': 'Bangkok',
    'Edinburgh, Scotland': 'Scotland'
}

# Apply destination mapping
df['Destination'] = df['Destination'].replace(destination_mapping)

In [32]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost,preprocessed_review,Sentiment
0,1,London,05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800,top valley mountain best place get pleasur rea...,Positive
1,2,Phuket,6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300,place signific import buddhism visit place sun...,Positive
2,3,Bali,07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700,visit side raini even actual visit templ end v...,Positive
3,4,New York,8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000,beauti templ situat capit stun vie citi insigh...,Positive
4,5,Tokyo,09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900,great beauti histor religi place crowd visitor...,Positive

In [43]:
df.tail()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost,preprocessed_review,Sentiment
131,135,Rio de Janeiro,08-01-2023,08-10-2023,9.0,Jose Perez,37.0,Male,Brazilian,Hostel,2500,Car,2000,An interesting place mostly because we meet th...,1,4500,interest place mostli meet lot tibetan peopl e...,Positive
132,136,Vancouver,8/15/2023,8/21/2023,6.0,Emma Wilson,29.0,Female,Canadian,Hotel,5000,Airplane,3000,Good place to visit. Nice view of ktm from top...,3,8000,good place visit nice view ktm top swayambhu,Positive
133,137,Bangkok,09-01-2023,09-08-2023,7.0,Ryan Chen,34.0,Male,Chinese,Hostel,2000,Train,1000,Must visit place in Kathmandu. You get a beaut...,3,3000,must visit place kathmandu get beauti view who...,Positive
134,138,Barcelona,9/15/2023,9/22/2023,7.0,Sofia Rodriguez,25.0,Female,Spanish,Airbnb,6000,Airplane,2500,Swayambhunath is among the oldest religious si...,4,8500,swayambhunath among oldest religi site inâ nep...,Neutral
135,139,Auckland,10-01-2023,10-08-2023,7.0,William Brown,39.0,Male,New Zealander,Hotel,7000,Train,2500,Swayambhunath the oldest religious sites in Ne...,3,9500,swayambhunath oldest religi site nepal found b...,Neutral

In [33]:
# Print destinations not included in the mapping
remaining_destinations = df['Destination'].value_counts().index.difference(destination_mapping.keys())
print("Remaining destinations not included in the mapping:")
print(remaining_destinations)

Remaining destinations not included in the mapping:
Index(['Amsterdam', 'Athens', 'Auckland', 'Australia', 'Bali', 'Bangkok',
       'Barcelona', 'Brazil', 'Canada', 'Cancun', 'Cape Town', 'Dubai',
       'Egypt', 'France', 'Germany', 'Greece', 'Hawaii', 'Honolulu', 'Italy',
       'Japan', 'London', 'Los Angeles', 'Marrakech', 'Mexico', 'New York',
       'Paris', 'Phnom Penh', 'Phuket', 'Rio de Janeiro', 'Rome', 'Santorini',
       'Scotland', 'Seoul', 'Spain', 'Sydney', 'Thailand', 'Tokyo',
       'Vancouver'],
      dtype='object')

In [34]:
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,review,Rating,Total cost,preprocessed_review,Sentiment
0,1,London,05-01-2023,05-08-2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600,It is at the top of valleys mountain. Best pl...,4,1800,top valley mountain best place get pleasur rea...,Positive
1,2,Phuket,6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500,This place has a significant importance in Bud...,2,1300,place signific import buddhism visit place sun...,Positive
2,3,Bali,07-01-2023,07-08-2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700,Visited this from the other side on a rainy ev...,3,1700,visit side raini even actual visit templ end v...,Positive
3,4,New York,8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000,A beautiful temple situated in the capital wit...,5,3000,beauti templ situat capit stun vie citi insigh...,Positive
4,5,Tokyo,09-10-2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,"great, beautiful, historic & religious place.....",5,900,great beauti histor religi place crowd visitor...,Positive

In [58]:
def recommend_reviews(destination):
    # Filter the DataFrame based on the user-entered destination and positive sentiment
    destination_reviews = df[(df['Destination'] == destination) & (df['Sentiment'] == 'Positive')]

    # Sort the positive reviews by rating in descending order
    sorted_reviews = destination_reviews.sort_values(by='Rating', ascending=False)

    # Select relevant columns for recommendations
    recommendations = sorted_reviews[['Traveler name', 'review', 'Rating', 'Total cost']]

    return recommendations

# User Interface
def user_interface():
    while True:
        user_destination = input("Enter the destination you want recommendations for (type 'exit' to quit): ")
        if user_destination.lower() == 'exit':
            break
        recommendations = recommend_reviews(user_destination)

        if not recommendations.empty:
            print("\nRecommendations for {}: \n".format(user_destination))
            for index, row in recommendations.iterrows():
                print("Name: {}".format(row['Traveler name']))
                print("Review: {}".format(row['review']))
                print("Rating: {}".format(row['Rating']))
                print("Cost Estimated: {}\n".format(row['Total cost']))
        else:
            print("No positive reviews found for {}".format(user_destination))

# Run the user interface
user_interface()

Enter the destination you want recommendations for (type 'exit' to quit): Paris

Recommendations for Paris:

Name: Michael Brown
Review: The view is so pleased and pleasures that it touches directly to my soul...
Great place to visit and look after in Kathmandu, Nepal.
I will recommend to visit this place after 4PM. Evening ðŸ˜
Rating: 5
Cost Estimated: 2300

Name: Jennifer Nguyen
Review: Perched on top of the Semgu Hill located in the outskirts to the west of the Kathmandu Valley, Swayambhu Temple temple is one of the most important eligious shrines in the city of Kathmandu.
Rating: 5
Cost Estimated: 1500

Name: Olivia Green
Review: A stupa of Fantastic architecture, known for huge presennce of monkey, a view point to enjoy the beautiful Kathmandu valley, you will never get tired of visiting again and again. Perfect location inside valley for a day out.. or to spend some time ..
Rating: 5
Cost Estimated: 1300

Name: John Smith
Review: An extremely amazing place to be at presenting an amazing picturesque scenerio of the city, extremely beautiful pieces of art, and a different sorts of freshness. Fully enjoyed being here!! â¤ï¸
Rating: 5
Cost Estimated: 1900

Name: Bob Johnson
Review: The place is beautiful. I've been going there for quite a while it's all jungle and at the top a temple if we decide to reach the top from back of the mountain it's very peaceful and mind blowing but there might be too many monkeys
Rating: 5
Cost Estimated: 1700

Name: Jack Smith
Review: It is a unique world heritage, it is mythical, grandeur, and the most significant landmark in the entire Kathmandu valley. Photo and video taken from Buddha Purnima/Jayanti 16 May2022. A visit for understanding and experiencing  the â€¦
Rating: 5
Cost Estimated: 1100

Name: Mia Johnson
Review: Located at swayambhu chowk. It's also a temple of monkey. From here we can get beautiful view of Kathmandu city.
Rating: 4
Cost Estimated: 2000

Name: Rachel Sanders
Review: Great historical place to visit. Lies in the heart of the Kathmandu city. Easy access.
Enjoyable view of kathmandu valley. But regular cleaning of the area must be focused.
Rating: 4
Cost Estimated: 2000

Name: John Smith
Review: Best place to chill, hangout, watch the view of Kathmandu Valley and worship.
Rating: 4
Cost Estimated: 1300

Name: John Smith
Review: Hindu and Buddhist temple at single station.
We can see clear view of kathmandu valley from here.
Rating: 4
Cost Estimated: 1800

Name: John Doe
Review: Swayambhu Stupa also known by the name of "The Monkey Temple" is one of the most worshipped place in Nepal and one of my favourite place to be. The main entrance to the stupa has 365 steps but all worth it as the city view from the top is â€¦
Rating: 4
Cost Estimated: 7500

Name: Sarah Johnson
Review: The monkey temple is a good tourist spot. You get to see a great temple, lots of monkeys, and a nice view of Kathmandu. Lot of stairs to get up so be prepared.
Rating: 2
Cost Estimated: 1300

Name: Lily Nguyen
Review: A sacred and holy place of worship for Hindus and Buddhists. One can view the city of Kathmandu from its premises. A very good place to buy traditional arts and crafts. Oil paintings depicting the popular culture and heritage of Nepal as well as mountain ranges are sold here.
Rating: 2
Cost Estimated: 1500

Name: John Smith
Review: You can get a nice and beautiful view of the city. Stupas and temple are beautiful and worth it to visit.
Rating: 2
Cost Estimated: 1300

Enter the destination you want recommendations for (type 'exit' to quit): exit

In [36]:
# user_interface()

In [56]:
def recommend_reviews(destination, budget):
    # Filter the DataFrame based on the user-entered destination, positive sentiment, and budget
    destination_reviews = df[(df['Destination'] == destination) &
                             (df['Sentiment'] == 'Positive') &
                             (df['Total cost'] <= budget)]

    # Sort the positive reviews by rating in descending order
    sorted_reviews = destination_reviews.sort_values(by='Rating', ascending=False)

    # Select relevant columns for recommendations
    recommendations = sorted_reviews[['Traveler name', 'review', 'Rating', 'Total cost']]

    return recommendations

# User Interface
def user_interface():
    while True:
        user_destination = input("Enter the destination you want recommendations for (type 'exit' to quit): ")
        if user_destination.lower() == 'exit':
            break

        # Get the user's budget
        try:
            user_budget = float(input("Enter your budget for {}: ".format(user_destination)))
        except ValueError:
            print("Please enter a valid number.")
            continue

        recommendations = recommend_reviews(user_destination, user_budget)

        if not recommendations.empty:
            print("\nRecommendations for {} within your budget of ${}: \n".format(user_destination, user_budget))
            for index, row in recommendations.iterrows():
                print("Name: {}".format(row['Traveler name']))
                print("Review: {}".format(row['review']))
                print("Rating: {}".format(row['Rating']))
                print("Cost Estimated: {}\n".format(row['Total cost']))
        else:
            print("No positive reviews found for {} within your budget of ${}".format(user_destination, user_budget))

# Run the user interface
user_interface()

Enter the destination you want recommendations for (type 'exit' to quit): London
Enter your budget for London: 5000

Recommendations for London within your budget of $5000.0:

Name: Olivia Rodriguez
Review: Swayambhunath is a glorious ancient religious architecture, located in the middle of Kathmandu city. It is center of faith of both Buddhist and Hindus.
It was listed in the UNESCO World Heritage Monument List in 1979 .Great place to â€¦
Rating: 5
Cost Estimated: 1350

Name: Ben Smith
Review: I often visit here just for morning walk and every day I feel the same energy and peace in my mind and soul while climbing those stairs. One of the holiest place of Buddhists and also for Hindus. There is iconic stupa and many other small â€¦
Rating: 5
Cost Estimated: 1200

Name: John Smith
Review: It is at the top of valleys mountain.  Best place to get a pleasure.  I really love the place. We can see whole Kathmandu valley from there. Best to visit there once in a life. We must visit there in life to get some Best experience in life â€¦
Rating: 4
Cost Estimated: 1800

Name: Peter Brown
Review: It is the most sacred amoung Buddhist pilgrimage sites.Its extremely amazing and beautiful from both religious and aesthetic point of view.
Must visit once !
Rating: 4
Cost Estimated: 1000

Name: Emily Wong
Review: Beautiful religious place with great atmosphere. You can see the whole city from up there. I do recommend visiting for foreigners coming for the first time. Beware of the monkeys and get ready to have your cameras out. There are a ton of â€¦
Rating: 4
Cost Estimated: 1050

Name: James Wilson
Review: Swayambhunath is on a top of a hill which overlooks Kathmandu valley.

There is an entrance fee of NRP 50 for SAARC countries and NPR 200 for outside â€¦
Rating: 1
Cost Estimated: 700

Name: Sarah Brown
Review: Swayambhu temple is also knwn as monkey temple there u can see lots n lots of monkeys lofty white dome and glittering golden spire are visible for many miles. From stupa yu all can see kathamandu city and its also known as World Heritage site. If u visit nepal don't forget to visit this place
Rating: 1
Cost Estimated: 1300

Enter the destination you want recommendations for (type 'exit' to quit): exit

In [44]:
user_interface()

Enter the destination you want recommendations for (type 'exit' to quit): Barcelona
Enter your budget for Barcelona: 2000

Recommendations for Barcelona within your budget of $2000.0:

Name: Carlos Garcia
Review: Swayambhu, meaning self-sprung, is one of the most sacred and iconic religious places in Nepal. The religious complex is situated on top of a hill. As you begin your climb you will come across various shops and cafes. You will also be â€¦
Rating: 4
Cost Estimated: 900

Name: Maria Garcia
Review: Extraordinary ambition with Vibe of Bhuda filled with. Also called as 'Monkey Temple' and you can either reach the top of the small peak by vehicle or climb on the steps. Must go place in Kathmandu.
Rating: 4
Cost Estimated: 1250

Name: Emma Garcia
Review: It is a peaceful place to be. You will get to see alot of your monkey friends there. You can see a beautiful view - view of concrete Jungle from the top. Couple of good food places in the perimeter as well. If you're stressed out i recommend you to visit swayambhu.
Rating: 2
Cost Estimated: 1200

Enter the destination you want recommendations for (type 'exit' to quit): exit

In [36]:
##colab approach

In [47]:
# df.info()

In [48]:
# Group users based on nationality, age, and gender
similar_users = df.groupby(['Traveler nationality', 'Traveler age', 'Traveler gender'])

In [62]:
def recommend_reviews123(destination, budget):
    # Filter the DataFrame based on the user-entered destination and positive sentiment
    destination_reviews = df[(df['Destination'] == destination) & (df['Sentiment'] == 'Positive')]

    # Filter reviews based on budget
    destination_reviews = destination_reviews[destination_reviews['Total cost'] <= budget]

    # Sort the positive reviews by rating in descending order
    sorted_reviews = destination_reviews.sort_values(by='Rating', ascending=False)

    # Construct formatted recommendations
    recommendations = []
    for index, row in sorted_reviews.iterrows():
        recommendation = (
            f"Name: {row['Traveler name']}\n"
            f"Review: {row['review']}\n"
            f"Rating: {row['Rating']}\n"
            f"Cost Estimated: {row['Total cost']}\n"
        )
        recommendations.append(recommendation)

    return recommendations

# User Interface
def user_interface123():
    while True:
        user_destination = input("Enter the destination you want recommendations for (type 'exit' to quit): ")
        if user_destination.lower() == 'exit':
            break
        user_budget = int(input("Enter your budget: "))
        recommendations = recommend_reviews123(user_destination, user_budget)

        if recommendations:
            print("\nRecommendations for {}: \n".format(user_destination))
            for recommendation in recommendations:
                print(recommendation)
        else:
            print("No positive reviews found within the specified budget for {}".format(user_destination))

# Run the user interface
user_interface123()



# /*In this example, the user entered Paris as the destination and a budget of 1500.
# The system then recommends reviews from similar users who visited Paris and whose total cost fits within the budget.
# Each recommendation includes the traveler's name, review text, rating, and total cost of the trip.*/

Enter the destination you want recommendations for (type 'exit' to quit): Paris
Enter your budget: 2000

Recommendations for Paris:

Name: Jennifer Nguyen
Review: Perched on top of the Semgu Hill located in the outskirts to the west of the Kathmandu Valley, Swayambhu Temple temple is one of the most important eligious shrines in the city of Kathmandu.
Rating: 5
Cost Estimated: 1500

Name: Olivia Green
Review: A stupa of Fantastic architecture, known for huge presennce of monkey, a view point to enjoy the beautiful Kathmandu valley, you will never get tired of visiting again and again. Perfect location inside valley for a day out.. or to spend some time ..
Rating: 5
Cost Estimated: 1300

Name: John Smith
Review: An extremely amazing place to be at presenting an amazing picturesque scenerio of the city, extremely beautiful pieces of art, and a different sorts of freshness. Fully enjoyed being here!! â¤ï¸
Rating: 5
Cost Estimated: 1900

Name: Bob Johnson
Review: The place is beautiful. I've been going there for quite a while it's all jungle and at the top a temple if we decide to reach the top from back of the mountain it's very peaceful and mind blowing but there might be too many monkeys
Rating: 5
Cost Estimated: 1700

Name: Jack Smith
Review: It is a unique world heritage, it is mythical, grandeur, and the most significant landmark in the entire Kathmandu valley. Photo and video taken from Buddha Purnima/Jayanti 16 May2022. A visit for understanding and experiencing  the â€¦
Rating: 5
Cost Estimated: 1100

Name: Mia Johnson
Review: Located at swayambhu chowk. It's also a temple of monkey. From here we can get beautiful view of Kathmandu city.
Rating: 4
Cost Estimated: 2000

Name: Rachel Sanders
Review: Great historical place to visit. Lies in the heart of the Kathmandu city. Easy access.
Enjoyable view of kathmandu valley. But regular cleaning of the area must be focused.
Rating: 4
Cost Estimated: 2000

Name: John Smith
Review: Best place to chill, hangout, watch the view of Kathmandu Valley and worship.
Rating: 4
Cost Estimated: 1300

Name: John Smith
Review: Hindu and Buddhist temple at single station.
We can see clear view of kathmandu valley from here.
Rating: 4
Cost Estimated: 1800

Name: Sarah Johnson
Review: The monkey temple is a good tourist spot. You get to see a great temple, lots of monkeys, and a nice view of Kathmandu. Lot of stairs to get up so be prepared.
Rating: 2
Cost Estimated: 1300

Name: Lily Nguyen
Review: A sacred and holy place of worship for Hindus and Buddhists. One can view the city of Kathmandu from its premises. A very good place to buy traditional arts and crafts. Oil paintings depicting the popular culture and heritage of Nepal as well as mountain ranges are sold here.
Rating: 2
Cost Estimated: 1500

Name: John Smith
Review: You can get a nice and beautiful view of the city. Stupas and temple are beautiful and worth it to visit.
Rating: 2
Cost Estimated: 1300

Enter the destination you want recommendations for (type 'exit' to quit): exit